[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==2.2.2"
billiard = "==3.5.0.3"
celery = "==4.1.0"
dj-database-url = "==0.4.2"
django-dotenv = "==1.4.2"
django-filter = "==1.1.0"
djangorestframework = "==3.7.7"
flower = "==0.9.2"
gunicorn = "==19.7.1"
kombu = "==4.1.0"
numpy = "==1.14.0"
olefile = "==0.45.1"
pandas = "==0.22.0"
"psycopg2-binary" = "==2.7.5"
python-dateutil = "==2.6.1"
pytz = "==2018.3"
redis = "==2.10.6"
rest-pandas = "==1.0.0"
six = "==1.11.0"
tornado = "==4.5.3"
vine = "==1.1.4"
whitenoise = "==3.3.1"
Babel = "==2.5.3"
Django = "==2.0.2"
Pillow = "==5.0.0"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.6"
