{% extends "admin/login_base.html" %}
{% load i18n static jazzmin %}
{% block form %}
<script>
    function validateForm() {
        var password = document.forms["reset-password-form"]["password"].value;
        var passwordConfirm = document.forms["reset-password-form"]["password-confirm"].value;
        if (password !== passwordConfirm) {
            iziToast.warning({
                  title: 'Invalid!',
                  message: 'Confirm password not match password!',
                  position: 'bottomRight'
            });
            return false;
        }
    }
</script>
<div class="card">
    <div class="card-body login-card-body">
        {% if status == 'valid' %}
        <p class="login-box-msg">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form action="{{ app_path }}" method="post" onsubmit="return validateForm()" name="reset-password-form">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="password" name="password" class="form-control" placeholder="{% trans 'New password:' %}" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" name="password-confirm" class="form-control" placeholder="{% trans 'Confirm password:' %}" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">{% trans 'Change my password' %}</button>
                </div>
            </div>
        </form>
        {% elif status == 'expired' %}
        <h4 style="color:red;">token expired</h4>
        <p>go back to <a href="{% url 'admin:index' %}">Admin Login</a></p>
        {% elif status == 'invalid' %}
        <h4 style="color: red">invalid token</h4>
        <p>go back to <a href="{% url 'admin:index' %}">Admin Login</a></p>
        {% elif status == 'password_changed' %}
        <h4 style="color: lightblue">password change success!</h4>
        <p>go back to <a href="{% url 'admin:index' %}">Admin Login</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}